*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #2b2b2b;
  background-color: #f5f5f5;
  overflow-x: hidden;
  min-height: 100%;
  position: relative;
}

.disable {
  overflow: hidden;
}

.seo {
  font-size: 1px;
  color: transparent;
  background-color: transparent;
}

@-webkit-keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}
@-webkit-keyframes animate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-15000px, 0, 0);
  }
}
@keyframes animate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-15000px, 0, 0);
  }
}
@-webkit-keyframes header {
  from {
    height: 100vh;
  }
  to {
    height: 40vh;
  }
}
@keyframes header {
  from {
    height: 100vh;
  }
  to {
    height: 40vh;
  }
}
@-webkit-keyframes left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.wrapper-footer {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.section-padding {
  padding: 4em 2em;
}

.section-title {
  position: relative;
  margin: 0 auto 0.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 6rem;
  text-align: center;
  color: #6a197d;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.color {
  text-shadow: -2px 0 #6a197d, 0 2px #6a197d, 2px 0 #6a197d, 0 -2px #6a197d;
  color: #f5f5f5;
}

.nav__logo {
  position: relative;
  top: 1rem;
  left: 3rem;
  width: 150px;
}

.nav__color {
  position: absolute;
  width: 100%;
}
.nav__color-logo {
  position: relative;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 3;
}

.hamburger {
  position: absolute;
  top: 2.5em;
  right: 1em;
  transform: translateY(-50%);
  z-index: 500;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #000000;
  z-index: 500;
}

.nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #6a197d;
  transform: translateY(-102%);
  transition: transform 0.3s;
  z-index: 10;
  height: 100vh;
  width: 100%;
}
.nav-mobile--active {
  transform: translateY(0);
}
.nav-desktop {
  display: none;
}
.nav__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em 0.5em;
  font-size: 2.3rem;
  color: #f5f5f5;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}
.nav__link:hover {
  color: #D2266F;
}

.nav__socialmedia {
  position: fixed;
  right: 0;
  top: 100px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.nav__socialmedia a {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__socialmedia img {
  padding: 10px;
  width: 100%;
}
.nav__socialmedia .instagram {
  width: 110%;
  border-radius: 50%;
}

.header {
  position: relative;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/header/jasne_header.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.header__hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.header__title {
  position: relative;
  text-align: center;
  font-size: 6rem;
  padding-top: 3.5em;
  color: #f5f5f5;
  text-shadow: 4px 4px 6px rgb(66, 68, 90);
  margin-bottom: 1em;
  z-index: 2;
}
.header__text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  text-align: center;
  color: #000000;
  margin: 0 1em;
  z-index: 100000;
  font-size: 2rem;
  text-transform: uppercase;
}
.header__text-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 3.6rem;
  padding-bottom: 3rem;
}
.header__arrow {
  display: none;
}
.header__logo {
  width: 60%;
}

.aboutus {
  background-image: url("../img/aboutus/aboutus_small.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: auto;
  padding-bottom: 3rem;
}
.aboutus__boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 32px 0;
}
.aboutus__box {
  margin-bottom: 2em;
  box-shadow: 2px 2px 18px 5px rgb(255, 255, 255) inset;
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 80%;
  height: auto;
}
.aboutus__title {
  color: #6a197d;
  font-size: 3rem;
  text-align: center;
  margin: 2rem auto;
}
.aboutus__text {
  font-size: 1.7rem;
  margin: 1rem;
  padding-bottom: 1.5em;
  color: #6a197d;
  font-weight: 400;
  text-align: center;
}
.aboutus__text-size {
  font-weight: bold;
}

.realization {
  height: auto;
}
.realization .section-title {
  font-size: 4rem;
}
.realization img {
  background-size: cover;
  width: 500px;
  height: 400px;
}
.realization .slider {
  display: flex;
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
  padding: 2.5rem;
  height: 500px;
}
.realization .item {
  -webkit-animation: animate 80s linear infinite;
          animation: animate 80s linear infinite;
}
.realization .item img {
  min-width: 200px;
  padding: 0 30px;
}
.realization .slider:hover .item {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.footer {
  background-image: url("../img/header/ciemne_header.jpg");
  background-size: cover;
  height: 100%;
}
.footer-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__bottom-text {
  font-weight: 800;
}
.footer-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1em;
}
.footer-up {
  display: flex;
  height: auto;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.footer-left-nav {
  display: flex;
  bottom: 0;
}
.footer-left-nav-link {
  text-decoration: none;
  padding: 1em 0;
  font-weight: bold;
  color: black;
}
.footer-left-nav-link-line {
  padding: 1em 0.5em;
}
.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
}
.footer-right-social {
  display: flex;
}
.footer-right-social a img {
  width: 50px;
  height: 50px;
}
.footer-right .contact-data {
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.footer-right .contact-data p {
  padding: 0.5em 0.5em;
}

.go-up {
  visibility: hidden;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 5;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.go-up img {
  width: 50px;
}
.go-up:hover {
  background-color: #6a197d;
}

/* Split the screen into thirds*/
/* Control the left side */
/* Control the right side */
/* If you want the content centered horizontally and vertically */
/* Style the image inside the centered container, if needed */
@media (min-width: 992px) {
  .section-padding {
    padding: 2em 2em;
  }
  .section-title {
    padding: 30px 0;
  }
  .header__hero-shadow {
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .header__title {
    padding-top: 1em;
    font-size: 12rem;
    text-shadow: 4px 4px 6px rgb(66, 68, 90);
    color: #f5f5f5;
    margin-bottom: 0.3em;
  }
  .header span {
    color: #a612c7;
  }
  .header__text {
    text-align: center;
    font-size: 3rem;
  }
  .header__text-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5rem;
    padding-bottom: 2rem;
  }
  .header__arrow-icon {
    width: 50px;
  }
  .header__logo {
    width: 40%;
  }
  .wrapper {
    max-width: 1200px;
  }
  .aboutus {
    background-image: url("../img/aboutus/aboutus_big.jpg");
  }
  .aboutus__box {
    display: flex;
    flex-direction: row;
  }
  .aboutus__title {
    position: relative;
    margin: 0.5em auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 4.5rem;
    text-align: center;
    color: #6a197d;
    letter-spacing: 2px;
  }
  .aboutus__text {
    padding-bottom: 0 2em;
    font-size: 2rem;
  }
  .aboutus__text-size {
    font-size: 3rem;
  }
  .footer {
    background-image: url("../img/header/ciemne_header.jpg");
    background-size: cover;
  }
  .footer-down {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 0;
    width: 100%;
  }
  .footer__color {
    color: #a612c7;
    font-weight: bold;
  }
}
@media (max-height: 725px) {
  .header__arrow {
    display: none;
  }
}
@media (min-height: 725px) {
  .header__arrow {
    display: block;
    position: absolute;
    bottom: 3em;
    left: 50%;
    padding: 2em;
    transform: translateX(-50%);
    border: 1px solid #000000;
    border-radius: 50%;
    z-index: 3;
  }
  .header__arrow::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
    border-radius: 50%;
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
  }
  .header__arrow-icon {
    width: 50px;
  }
}
@media (min-width: 1050px) {
  .aboutus {
    background-attachment: fixed;
  }
  .nav__logo {
    padding-top: 10px;
    position: static;
  }
  .nav__color {
    position: absolute;
    position: fixed;
    z-index: 2;
  }
  .nav__color-logo {
    display: flex;
    justify-content: space-around;
  }
  .nav-desktop {
    display: flex;
    justify-content: flex-end;
    top: 0.6em;
    right: 0;
    z-index: 500;
  }
  .nav__link {
    color: #000000;
    border: 1px solid transparent;
  }
  .nav__link:hover {
    color: #6a197d;
  }
  .nav__link::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid #a612c7;
    opacity: 0;
  }
  .nav__link:hover::before {
    -webkit-animation: pulse 1s;
            animation: pulse 1s;
  }
  .hamburger {
    display: none;
  }
  .realization {
    height: auto;
    padding-bottom: 6rem;
  }
  .realization .section-title {
    font-size: 6rem;
  }
  .footer__bottom-text {
    font-weight: 800;
  }
  .footer-down {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-top: 1em;
  }
  .footer-up {
    display: flex;
    height: auto;
    flex-direction: row;
  }
  .footer-left {
    width: 50%;
    padding: 2em;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer-left-nav {
    display: flex;
    bottom: 0;
  }
  .footer-left-nav-link {
    text-decoration: none;
    padding: 1em 0;
    font-weight: bold;
    color: black;
  }
  .footer-left-nav-link-line {
    padding: 1em 0.5em;
  }
  .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
    padding: 2em;
    text-align: start;
  }
  .footer-right-social {
    display: flex;
  }
  .footer-right-social a img {
    width: 50px;
    height: 50px;
  }
  .footer-right .contact-data {
    display: flex;
    justify-content: end;
    flex-direction: column;
  }
  .footer-right .contact-data p {
    padding: 0.5em 0.5em;
  }
}/*# sourceMappingURL=main.css.map */