*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #2b2b2b;
  background-color: #f5f5f5;
  overflow-x: hidden;
  min-height: 100%;
}

.disable {
  overflow: hidden;
}

@-webkit-keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.section-padding {
  padding: 4em 2em;
}

.section-title {
  position: relative;
  margin: 0 auto 1em;
  padding: 30px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 6rem;
  text-align: center;
  color: #D2266F;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section-title::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 2px;
  background-color: #D2266F;
  content: "";
}

.nav__logo {
  position: relative;
  top: 10px;
  left: 10px;
}

.nav__color {
  position: absolute;
  width: 100%;
}
.nav__color-logo {
  position: relative;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 3;
}

.hamburger {
  position: absolute;
  top: 2.5em;
  right: 1em;
  transform: translateY(-50%);
  z-index: 500;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #f5f5f5;
  z-index: 500;
}

.nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 116, 255, 0.7882352941);
  transform: translateY(-102%);
  transition: transform 0.3s;
  z-index: 10;
  height: 100vh;
  width: 100%;
}
.nav-mobile--active {
  transform: translateY(0);
}
.nav-desktop {
  display: none;
}
.nav__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em 0.5em;
  font-size: 2.3rem;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}
.nav__link:hover {
  color: #D2266F;
}

.header {
  position: relative;
  top: 0;
  width: 100vw;
  height: 400px;
  background-image: url("../img/header/small.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.header__hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.header__title {
  position: relative;
  text-align: center;
  font-size: 6rem;
  padding-top: 2em;
  color: #f5f5f5;
  text-shadow: 4px 4px 6px rgb(66, 68, 90);
  margin-bottom: 1em;
  z-index: 2;
}
.header span {
  color: #a612c7;
}
.header__text {
  position: relative;
  margin-top: 2em;
  text-align: center;
  color: #f5f5f5;
  margin: 0 1em;
  z-index: 100000;
}
.header__arrow {
  display: none;
}

.aboutus {
  background-image: url("../img/header/aboutus.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  height: 100vh;
}
.aboutus__box {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.aboutus__box__img {
  max-width: 100%;
  margin-bottom: 1em;
}
.aboutus__img {
  width: 100%;
  height: 100%;
}
.aboutus__img--right {
  max-width: 100%;
  margin-bottom: 1em;
}
.aboutus__title {
  color: #D2266F;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.5em;
}
.aboutus__text {
  font-size: 2rem;
  margin-bottom: 2em;
  padding-bottom: 2.5em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.footer .color {
  color: #a612c7;
  font-weight: bold;
}

@media (min-width: 992px) {
  .section-padding {
    padding: 2em 2em;
  }
  .header {
    height: 100vh;
    background-image: url("../img/header/big.jpg");
  }
  .header__hero-shadow {
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .header__title {
    padding-top: 2em;
    font-size: 12rem;
    text-shadow: 4px 4px 6px rgb(66, 68, 90);
    color: #f5f5f5;
    margin-bottom: 0.5em;
  }
  .header span {
    color: #a612c7;
  }
  .header__text {
    text-align: center;
    font-size: 3.8rem;
  }
  .header__arrow {
    display: block;
    position: absolute;
    bottom: 3em;
    left: 50%;
    padding: 2em;
    transform: translateX(-50%);
    border: 1px solid #f5f5f5;
    border-radius: 50%;
  }
  .header__arrow::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
  }
  .header__arrow-icon {
    width: 50px;
  }
  .wrapper {
    max-width: 1450px;
  }
  .aboutus__box {
    display: flex;
    flex-direction: row;
  }
  .aboutus__box-img--right {
    order: 1;
  }
  .aboutus__img {
    max-width: 90%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 1em;
  }
  .aboutus__img--right {
    max-width: 85%;
    width: 1000px;
  }
  .aboutus__title {
    position: relative;
    margin: 0.5em auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 6rem;
    text-align: center;
    color: #D2266F;
    letter-spacing: 2px;
  }
  .aboutus__text {
    font-size: 2rem;
    padding: 0 2em;
  }
}
@media (min-width: 992px) and (max-height: 725px) {
  .header__arrow {
    display: none;
  }
}
@media (min-width: 992px) and (min-height: 725px) {
  .header__arrow {
    display: block;
    position: absolute;
    bottom: 3em;
    left: 50%;
    padding: 2em;
    transform: translateX(-50%);
    border: 1px solid #f5f5f5;
    border-radius: 50%;
  }
  .header__arrow::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
  }
  .header__arrow-icon {
    width: 50px;
  }
}
@media (min-width: 1050px) {
  .nav__logo {
    padding-top: 10px;
    position: static;
  }
  .nav__color {
    position: absolute;
    position: fixed;
    z-index: 2;
  }
  .nav__color-logo {
    display: flex;
    justify-content: space-around;
  }
  .nav-desktop {
    display: flex;
    justify-content: flex-end;
    top: 0.6em;
    right: 0;
    z-index: 500;
    overflow: hidden;
  }
  .nav__link {
    color: #f5f5f5;
    border: 1px solid transparent;
  }
  .nav__link::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid #a612c7;
    opacity: 0;
  }
  .nav__link:hover::before {
    -webkit-animation: pulse 1s;
            animation: pulse 1s;
  }
  .hamburger {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */