*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #2b2b2b;
  background-color: #f5f5f5;
  overflow-x: hidden;
  min-height: 100%;
  position: relative;
}

.disable {
  overflow: hidden;
}

.seo {
  font-size: 1px;
  color: transparent;
  background-color: transparent;
}

@-webkit-keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}
@-webkit-keyframes animate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-15000px, 0, 0);
  }
}
@keyframes animate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-15000px, 0, 0);
  }
}
@-webkit-keyframes left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-60%);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-60%);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes down {
  0% {
    transform: translateY(0);
    z-index: -1;
  }
  50% {
    transform: translateY(60%);
    z-index: -1;
  }
  100% {
    z-index: 1;
  }
}
@keyframes down {
  0% {
    transform: translateY(0);
    z-index: -1;
  }
  50% {
    transform: translateY(60%);
    z-index: -1;
  }
  100% {
    z-index: 1;
  }
}
@-webkit-keyframes menu1 {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes menu1 {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.second-box {
  background: radial-gradient(circle, rgb(159, 47, 96) 0%, rgb(115, 120, 126) 100%);
}
.second-box .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.second-box .card {
  position: relative;
  margin: 10px;
  height: 250px;
  width: 250px;
  text-align: center;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transition: height 1s;
}
.second-box .card button {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  color: transparent;
  cursor: pointer;
  z-index: 1;
}
.second-box .card a:hover ~ .text {
  -webkit-clip-path: circle(120% at 50% 90%);
          clip-path: circle(120% at 50% 90%);
}
.second-box .card .show {
  color: #f5f5f5;
  border: 2px solid #f5f5f5;
  width: 80%;
  height: 20%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.second-box .one {
  background-image: url("../img/realization/31.webp");
}
.second-box .two {
  background-image: url("../img/realization/15.webp");
}
.second-box .three {
  background-image: url("../img/realization/10.webp");
}
.second-box .four {
  background-image: url("../img/realization/22.webp");
}
.second-box .five {
  background-image: url("../img/realization/24.webp");
}
.second-box .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px 30px;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  -webkit-clip-path: circle(0 at 50% 90%);
          clip-path: circle(0 at 50% 90%);
  transition: 0.8s;
}
.second-box h2 {
  margin-bottom: 100px;
  color: rgb(182, 179, 97);
}

@media (min-width: 520px) {
  .first-box .text {
    padding: 10px;
    font-size: 1.3rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #2b2b2b;
  background-color: #f5f5f5;
  overflow-x: hidden;
  min-height: 100%;
  position: relative;
}

.disable {
  overflow: hidden;
}

.seo {
  font-size: 1px;
  color: transparent;
  background-color: transparent;
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}
@keyframes animate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-15000px, 0, 0);
  }
}
@keyframes left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-60%);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes down {
  0% {
    transform: translateY(0);
    z-index: -1;
  }
  50% {
    transform: translateY(60%);
    z-index: -1;
  }
  100% {
    z-index: 1;
  }
}
@keyframes menu1 {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
ul {
  list-style: none;
  font-size: 24px;
}

.menu-item {
  list-style: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: transparent;
}
.menu-item:hover .dropdown li {
  display: block;
  -webkit-animation: menu1 0.5s forwards;
          animation: menu1 0.5s forwards;
}
.menu-item:hover .dropdown li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.menu-item:hover .dropdown li:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.menu-item:hover .dropdown li:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.menu-item:hover .dropdown li:nth-child(5) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.menu-item:hover .dropdown li:nth-child(6) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.dropdown li {
  display: none;
  background-color: rgba(106, 25, 125, 0.5019607843);
  opacity: 0;
  transition: color 0.3s;
  font-size: 20px;
  padding: 10px;
}
.dropdown li a {
  text-decoration: none;
  color: #000000;
}
.dropdown li:hover {
  color: royalblue;
}/*# sourceMappingURL=offers.css.map */