@use './colors' as *;
@use './reset' as *;
@use './animation' as *;


ul {
	list-style: none;
	font-size: 24px;
}

.menu-item {
	list-style: none;
	cursor: pointer;
	transition: background-color 0.3s;
}

.menu-item:hover {
	background-color: transparent;
	.dropdown {
		li {
			display: block;
			animation: menu1 0.5s forwards;
		}
		li:nth-child(2) {
			animation-delay: 0.2s;
		}
		li:nth-child(3) {
			animation-delay: 0.4s;
		}
		li:nth-child(4) {
			animation-delay: 0.6s;
		}
		li:nth-child(5) {
			animation-delay: 0.8s;
		}
		li:nth-child(6) {
			animation-delay: 1s;
		}
		li:nth-child(7) {
			animation-delay: 1.2s;
		}
		li:nth-child(8) {
			animation-delay: 1.4s;
		}
		li:nth-child(9) {
			animation-delay: 1.6s;
		}
		li:nth-child(10) {
			animation-delay: 1.8s;
		}
		li:nth-child(11) {
			animation-delay: 2s;
		}
		li:nth-child(12) {
			animation-delay: 2.2s;
		}
		li:nth-child(13) {
			animation-delay: 2.4s;
		}
		li:nth-child(14) {
			animation-delay: 2.6s;
		}
	}
}

.dropdown {
	position: absolute;
	display: flex;
	flex-direction: column;
	text-align: center;
	// width: 300px;
	li {
		display: none;
		background-color: #6a197de6;
		opacity: 0;
		transition: color 0.3s;
		font-size: 20px;
		padding: 10px;
		a {
			text-decoration: none;
			color: $darker;
		}
	}
	li:hover {
		color: royalblue;
	}
}
