@use './colors' as *;
@use './reset' as *;
@use './animation' as *;

.second-box {
	background: radial-gradient(circle, rgba(159, 47, 96, 1) 0%, rgba(115, 120, 126, 1) 100%);
	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		max-width: 1600px;
		margin: 0 auto;
	}
	.card {
		position: relative;
		margin: 10px;
		height: 300px;
		width: 300px;
		text-align: center;
		background-position: center;
		background-size: cover;
		border-radius: 10px;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
		overflow: hidden;
		transition: height 1s;
		button {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: none;
			border: none;
			color: transparent;
			cursor: pointer;
			z-index: 1;
			
		}
		h2 {
			display: flex;
			justify-content: center;
			color: $white;
			font-size: 3rem;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.3);
			padding-top: 20px;
		}
		a:hover ~ .text , h2:hover ~ .text {
			clip-path: circle(120% at 50% 90%);
		}
		.show {
			color: $white;
			border: 2px solid $white;
			width: 80%;
			height: 20%;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			
		}
	}
	// KOSZULKI i BLUZY
	.one {
		background-image: url('../img/realization/22.webp');
	}
	.two {
		background-image: url('../img/realization/16.webp');
	}
	.three {
		background-image: url('../img/realization/3.webp');
	}
	.four {
		background-image: url('../img/realization/11.webp');
	}
	.five {
		background-image: url('../img/realizatioon/24.webp');
	}
	.six {
		background-image: url('../img/realization/9.webp');
	}
	.seven {
		background-image: url('../img/realization/4.webp');
	}
	.eight {
		background-image: url('../img/realization/19.webp');
	}
	.nine {
		background-image: url('../img/offers/naklejki/IMG_20230110_132156_wynik_wynik_webP.webp');
	}
	.ten {
		background-image: url('../img/offers/pieczatka/pieczatka4_wynik_wynik_webP.webp');
	}
	.eleven {
		background-image: url('../img/offers/zaproszenia/zaproszenia_wynik_wynik_webP.webp');
	}
	.twelve {
		background-image: url('../img/realization/17.webp');
	}
	.threeten {
		background-image: url('../img/realizatioon/1.webp');
	}
	.fourteen {
		background-image: url('../img/realizatioon/24.webp');
	}
	.text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.85);
		color: #fff;
		clip-path: circle(0 at 50% 90%);
		transition: 0.8s;
	}
}
@import './_largeOffers.scss';
