@use './colors' as *;
@use './reset' as *;
@use './animation' as *;

.second-box {
	background: radial-gradient(circle, rgba(159, 47, 96, 1) 0%, rgba(115, 120, 126, 1) 100%);
	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 100vw;
	}
	.card {
		position: relative;
		margin: 10px;
		height: 250px;
		width: 250px;
		text-align: center;
		background-position: center;
		background-size: cover;
		border-radius: 10px;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
		overflow: hidden;
		transition: height 1s;
		button {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: none;
			border: none;
			color: transparent;
			cursor: pointer;
			z-index: 1;
		}
		a:hover ~ .text {
			clip-path: circle(120% at 50% 90%);
		}
		.show {
			color: $white;
			border: 2px solid $white;
			width: 80%;
			height: 20%;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	// KOSZULKI i BLUZY
	.one {
		background-image: url('../img/realization/31.webp');
	}
	.two {
		background-image: url('../img/realization/15.webp');
	}
	.three {
		background-image: url('../img/realization/10.webp');
	}
	.four {
		background-image: url('../img/realization/22.webp');
	}
	.five {
		background-image: url('../img/realization/24.webp');
	}
	.text {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 30px 30px;
		background-color: rgba(0, 0, 0, 0.85);
		color: #fff;
		clip-path: circle(0 at 50% 90%);
		transition: 0.8s;
	}
	h2 {
		margin-bottom: 100px;
		color: rgb(182, 179, 97);
	}
}




// .title {
// 	display: flex;
// 	justify-content: space-evenly;
// 	&-content {
// 		display: flex;
// 		flex-wrap: wrap;
// 		gap: 10px;
// 		button {
// 			font-size: 5rem;
// 			background-color: transparent;
// 			border: none;
// 			cursor: pointer;
// 		}
// 		h2 {
// 			margin: 10px 0;
// 			font-size: 6rem;
// 		}
// 	}
// }
@import './_largeOffers.scss';
@import './nav';
